#column3{
  width: 50%;
}

.table-header {
  color: #8cbce6;
  font-size: 30px;
  height: 60px;
  width: auto;
  font-family: calibri;
  vertical-align: center;
  border: double;
  background-color: #448ccb;
  text-align: left;
}

.live-bait-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.live-bait-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.live-bait-navbar-interactive {
  background-color: rgba(255, 255, 255, 0.81);
}
.live-bait-pasted-image {
  width: 246px;
  height: 99px;
}
.live-bait-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.live-bait-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.live-bait-nav1 {
  transition: 0.3s;
}
.live-bait-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-bait-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-bait-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-bait-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-bait-nav6 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-bait-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.live-bait-login {
  margin-right: 32px;
}
.live-bait-burger-menu {
  display: none;
}
.live-bait-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.live-bait-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.live-bait-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.live-bait-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.live-bait-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.live-bait-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.live-bait-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.live-bait-nav11 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-bait-nav21 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-bait-nav31 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-bait-nav41 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-bait-nav51 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-bait-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.live-bait-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.live-bait-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.live-bait-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.live-bait-hero {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.live-bait-hero1 {
  height: auto;
  align-self: center;
  background-color: transparent;
}
.live-bait-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  opacity: 0.95;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.live-bait-text2 {
  font-style: normal;
  font-weight: 400;
}
.live-bait-table {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  opacity: 0.95;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.live-bait-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.live-bait-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.live-bait-pasted-image1 {
  width: 246px;
  height: 99px;
}
.live-bait-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.live-bait-nav12 {
  margin-left: 0px;
}
.live-bait-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.live-bait-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.live-bait-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.live-bait-nav52 {
  margin-left: var(--dl-space-space-unit);
}
.live-bait-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.live-bait-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.live-bait-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.live-bait-link {
  display: contents;
}
.live-bait-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.live-bait-link1 {
  display: contents;
}
.live-bait-icon12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .live-bait-hero1 {
    flex-direction: column;
  }
  .live-bait-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .live-bait-table {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
}
@media(max-width: 767px) {
  .live-bait-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .live-bait-desktop-menu {
    display: none;
  }
  .live-bait-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .live-bait-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-bait-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-bait-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-bait-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-bait-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-bait-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .live-bait-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .live-bait-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .live-bait-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .live-bait-text3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .live-bait-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .live-bait-mobile-menu1 {
    padding: 16px;
  }
  .live-bait-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .live-bait-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-bait-table {
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-bait-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .live-bait-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .live-bait-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .live-bait-text3 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
