table, th, td {
  border: thin solid;
  height: 40px;
  padding: 12px 15px;
  
}

table{
    border-bottom: 2px solid #009879;
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#column3{
  width: 50%;
}

.table-header {
  color: black;
  font-size: 30px;
  height: 60px;
  width: auto;
  font-family: calibri;
  vertical-align: center;
  border: double;
  background-color: #448ccb;
  text-align: left;
}

.live-brand-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.live-brand-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.live-brand-navbar-interactive {
  background-color: rgba(255, 255, 255, 0.81);
}
.live-brand-pasted-image {
  width: 246px;
  height: 99px;
}
.live-brand-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.live-brand-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.live-brand-nav1 {
  transition: 0.3s;
}
.live-brand-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-brand-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-brand-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-brand-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-brand-nav6 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.live-brand-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.live-brand-login {
  margin-right: 32px;
}
.live-brand-burger-menu {
  display: none;
}
.live-brand-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.live-brand-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.live-brand-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.live-brand-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.live-brand-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.live-brand-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.live-brand-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.live-brand-nav11 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-brand-nav21 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-brand-nav31 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-brand-nav41 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-brand-nav51 {
  margin-bottom: var(--dl-space-space-unit);
}
.live-brand-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.live-brand-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.live-brand-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.live-brand-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.live-brand-hero {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.live-brand-hero1 {
  height: auto;
  align-self: center;
  background-color: transparent;
}
.live-brand-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  opacity: 0.95;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.live-brand-text2 {
  font-style: normal;
  font-weight: 400;
}
.live-brand-table {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  opacity: 0.95;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.live-brand-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.live-brand-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.live-brand-pasted-image1 {
  width: 246px;
  height: 99px;
}
.live-brand-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.live-brand-nav12 {
  margin-left: 0px;
}
.live-brand-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.live-brand-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.live-brand-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.live-brand-nav52 {
  margin-left: var(--dl-space-space-unit);
}
.live-brand-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.live-brand-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.live-brand-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.live-brand-link {
  display: contents;
}
.live-brand-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.live-brand-link1 {
  display: contents;
}
.live-brand-icon12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .live-bait-hero1 {
    flex-direction: column;
  }
  .live-brand-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .live-brand-table {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
}
@media(max-width: 767px) {
  .live-brand-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .live-brand-desktop-menu {
    display: none;
  }
  .live-brand-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .live-brand-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-brand-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-brand-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-brand-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-brand-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-brand-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .live-brand-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .live-brand-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .live-brand-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .live-brand-text3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .live-brand-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .live-brand-mobile-menu1 {
    padding: 16px;
  }
  .live-brand-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .live-brand-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-brand-table {
    margin-bottom: var(--dl-space-space-unit);
  }
  .live-brand-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .live-brand-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .live-brand-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .live-brand-text3 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
