.row-2{
    justify-content: space-between;
    margin: 200px auto 50px;
}
.shop_dicptLink
{
  width: 100%;
  text-align: center;
}
select
{
    boarder: 1px solid #ff523b;
    padding: 5px;
}
select:focus
{
    outline: none;
}
.small container
{
    max-width:1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4
{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.p-name{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b
}
 /* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}