{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}
{% block content %}
<link href="../static/admin.css" rel="stylesheet" />
      <link href="../static/bait.css" rel="stylesheet" />

<div class="admin-hero">
          <div class="admin-hero1 heroContainer">
            <div class="admin-container1">
              <h1 class="admin-text2">Admin Panel</h1>
              <div class="admin-container2">
                <a href="{{ url_for('bait_editor') }}"> <button type="button" class="button">Bait Table Editor</button> </a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}