<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bait Editor (placeholder)</title>
</head>
<body>
 <table>
  <tr>
    <th>Name</th>
    <th>Available?</th>
    <th>Description</th>
  </tr>
     {% for bait in baits %}
        <tr>
            <td>{{ bait['name'] }}</td>
            <td>{{ bait['availability'] }}</td>
            <td>{{ bait['description'] }}</td>
        </tr>
     {% endfor %}

     <form action="{{ url_for('bait_editor') }}" method="post">
         <h1>Insert/modify item:</h1>
         <p>(note: bait availability will be overwritten)</p>
         <p>Name:</p> <input type="text" name="insert-name" />
         <p>Availability:</p> <input type="checkbox" name="insert-availability" />
         <p>Description:</p> <input type="text" name="insert-description" />

         <h1>Remove item from list:</h1>
         <p>Name:</p> <input type="text" name="remove-name" />

         <br>
         <input type="submit" class="buttonFlat">

         <p>{{ msg }}</p>
     </form>
</table>
</body>
</html>