{% extends "base.html" %}
{% block title %}Bait Editor{% endblock %}
{% block content %}
<link href="../static/bait-editor.css" rel="stylesheet" />
      <link href="../static/bait.css" rel="stylesheet" />

<div class="bait-editor-hero">
          <div class="bait-editor-hero1 heroContainer">
            <div class="bait-editor-container1">
              <h1 class="bait-editor-text02">Bait Table Editor</h1>
            </div>
            <form action="{{ url_for('bait_editor') }}" method="post">
         <h1>Insert/modify item:</h1>
         <p>(note: bait availability will be overwritten)</p>
         <p>Name:</p> <input type="text" name="insert-name" />
         <p>Availability:</p> <input type="checkbox" name="insert-availability" />
         <p>Description:</p> <input type="text" name="insert-description" />

         <h1>Remove item from list:</h1>
         <p>Name:</p> <input type="text" name="remove-name" />

         <br>
         <input type="submit" class="buttonFlat">

         <p>{{ msg }}</p>
            </form>
            <div class="bait-editor-container3"></div>
            <div class="bait-editor-container4">
            </div>
          </div>
        </div>
{% endblock %}