{% extends "base.html" %}
{% block title %}Brand{% endblock %}
{% block content %}
<link href="../static/brands.css" rel="stylesheet" />

<div class="live-brand-hero">
          <div class="live-brand-hero1 heroContainer">
            <div class="live-brand-container1">
              <h1 class="live-brand-text2">View Brands</h1>
              <div class="live-brand-table">
                <table>
                  <tr>
                      <th class="table-header">Logo</th>
                      <th class="table-header">Name</th>
                  </tr>
                     {% for brands in brands %}
                        <tr>
                            <td>{{ <img src="img_girl.jpg" width="500" height="600"> }}</td>
                            <td>{{ brand['Name'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
{% endblock %}