{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
<link href="../static/cart.css" rel="stylesheet" />

<div class="small-container cart-page" style="padding-top:3%">
     <!--<table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>-->
    <div class="cart-info">
        <table class="container">
            <tr>
                <th class="table-header" >Product</th>
                <th class="table-header">Quantity?</th>
                <th class="table-header" id="column3">Subtotal</th>
            </tr>
            {% for product in cart %}
            <tr>
                <input type="hidden" value="{{product_id}}">
                <input type="submit" value="Add To Cart" />
                <td>{{ product['product_id'] }}</td>
                <td>{{ product['quantity'] }}</td>
                <td>{{ product['price']*quantity }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
        <!--<tr>
            <td>
                <div class="cart-info">
                    <img src="fishing poles/H-10332.jpg">
                    <div>
                        <p>Fishing pole</p>
                        <small>Price: $50.00</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$50.00</td>
        </tr>
         <tr>
            <td>
                <div class="cart-info">
                    <img src="fishing poles/H-10332.jpg">
                    <div>
                        <p>Fishing pole</p>
                        <small>Price: $50.00</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$50.00</td>
        </tr>
         <tr>
            <td>
                <div class="cart-info">
                    <img src="fishing poles/H-10332.jpg">
                    <div>
                        <p>Fishing pole</p>
                        <small>Price: $50.00</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$50.00</td>
        </tr>
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$150.00</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$175.00</td>
            </tr>
        </table>
    </div>
</div>-->
{% endblock %}