{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
<link href="../static/cart.css" rel="stylesheet" />

<div class="small-container cart-page" style="padding-top:3%">

    <div class="cart-info">
        <table class="container">
            <tr>
                <th class="table-header" >Product</th>
                <th class="table-header">Quantity</th>
                <th class="table-header" id="column3">Subtotal</th>
                <th class="table-header">Remove</th>
            </tr>
            <form action="{{ url_for('cart') }}" method="post" enctype="multipart/form-data">
            {% for product in cart %}
            <tr>
                <td>{{ product['product_name'] }}</td>
                <td>{{ product['quantity'] }}</td>
                <td>${{ '{0:.2f}'.format(product['price']*product['quantity']) }}</td>
                <td><button class="buttonFilled delete" type="submit" name="remove-id" value="{{ product['product_id'] }}"> Remove </button></td>
            </tr>
            {% endfor %}
            </form>
        </table>
    </div>

    <p style="padding: 10px;">Total: ${{ '{0:.2f}'.format(total) }}</p>
    <form action="{{ url_for('cart') }}" method="post" enctype="multipart/form-data">
        <button class="buttonFilled" type="submit" name="email-receipt" value="1"> Purchase </button>
        <p>{{ msg }}</p>
    </form>
</div>

<style>
table{
    background-color: #f2f0f0;
    border-radius: 8px;
    padding: 15px;
}
td{
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px; 
}
 .table-header{
        background-color: #ED6A5A;
        padding: 5px;
        border-radius: 5px; 
    }
    
</style>
{% endblock %}