{% extends "base.html" %}
{% block title %}Community{% endblock %}
{% block content %}
<link href="../static/community.css" rel="stylesheet" />

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0" nonce="X1NreoSu"></script>

<a href="{{ url_for('submit_post') }}"><button class="fixed-button buttonFilled">Make Post</button></a>


<div class="community-hero">
  <div class="community-hero1 heroContainer">
    <h1 class="community-text2" style="padding: 10px;">Empire Fishing Community</h1>
    <div class="community-table">
      <table>
          <tr>
              <th style="width: 25%;">Posts from Empire Fishing & Tackle</th>
              <th style="width: 75%;">Community Posts</th>
          </tr>
        <tr >
            <td ><div class="fb-page" data-href="https://www.facebook.com/empirefishingandtackle/" data-tabs="timeline" data-width="" data-height="2000px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/empirefishingandtackle/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/empirefishingandtackle/">Empire Fishing and Tackle</a></blockquote></div></td>
            <td class="posts">
                {% for post in posts %}
                <div>
                    {% if post['image'] is not none %}<img height="200px" src="static/images/community/{{ post['image'] }}">{% endif %}
                {% if post['text'] is not none %}<p>{{ post['text'] }}</p>{% endif %}
                <p>Posted by {{ post['usr'] }} on {{ datetime.fromtimestamp(post['date']).strftime('%Y-%m-%d') }}</p>
                    </div>
                {% endfor %}
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<style>
.posts{
  margin-top: 5px;
  margin-bottom: 10px;
  vertical-align: top;
}

.fixed-button {
    position: fixed;
    font-size: larger;
    bottom: 20px; 
    right: 20px; 
    padding: 10px 20px; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    z-index: 1000; 
}

th{
  border-bottom: solid black 1px;
  border-bottom-style: dotted; 
}

  th, td {
  border: none; 
}

table {
  background: transparent; 
  overflow: hidden;
  background: none;
  border: none;
  width: 100%;
}

.fb-page {
  height: 100%;
  width: 100%;
}

</style>

{% endblock %}