{% extends "base.html" %}
{% block title %}Community{% endblock %}
{% block content %}
<link href="../static/community.css" rel="stylesheet" />

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0" nonce="X1NreoSu"></script>

<a href="{{ url_for('submit_post') }}"><button class="fixed-button buttonFilled">Make Post</button></a>


<div class="community-hero">
  <div class="community-hero1 heroContainer">
    <h1 class="community-text2" style="padding: 10px;">Empire Fishing Community</h1>
    <div class="community-table">
      <table>
          <tr class="header">
              <th style="width: 25%;" >Posts from Empire Fishing & Tackle</th>
              <th style="width: 75%;" >Community Posts</th>
          </tr>
        <tr >
          <td ><div class="fb-page" data-href="https://www.facebook.com/empirefishingandtackle/" data-tabs="timeline" data-width="" data-height="2000px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/empirefishingandtackle/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/empirefishingandtackle/">Empire Fishing and Tackle</a></blockquote></div></td>
          <td class="feed">
              {% for post in posts %}
              <div class="post">
                <div class="post-image">
                  {% if post['image'] is not none %}<a href="static/images/community/{{ post['image'] }}"><img height="200px" src="static/images/community/{{ post['image'] }}"></a>{% endif %}
                </div>
                <div class="post-content">
                  <h3 class="author">{{ post['usr'] }} : </h3>
                  {% if post['text'] is not none %}<p>{{ post['text'] }}</p>{% endif %}
                  <p class="date-time">Posted on {{ datetime.fromtimestamp(post['date']).strftime('%Y-%m-%d') }}</p>
                </div>
                {% if session['admin'] %}
                  <form action="/delete_post" method="post">
                    <button class="buttonFilled delete" type="submit" name="post_id" value="{{ post['id'] }}"> Delete </button>
                  </form>
                {% endif %}
              </div>
              <hr style="height:2px;border-width:0;color:gray;background-color:gray">
              {% endfor %}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<style>
.header{
  font-size: x-large;
  box-shadow: 0 4px 2px -2px gray;
}

.post {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
    margin-bottom: 20px; 
}

.post-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    min-height: 200px; 
    padding: 5px 10px; 
}

.author {
    margin-bottom: 5px;
    font-size: 25px;
    display: block;
    width: 100%;
}

.date-time {
  vertical-align: bottom;
  margin-top: auto;
  text-align: right; 
  font-size: smaller;
  color: lightseagreen;
}

.post-image img {
    margin: auto;
    display: block;
    max-height: 200px;
    max-width: 450px;
    width: auto;
}

.feed {
    margin-top: 5px;
    margin-bottom: 10px;
    vertical-align: top;
}

.fixed-button {
    position: fixed;
    font-size: larger;
    bottom: 20px; 
    right: 20px; 
    padding: 10px 20px; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    z-index: 1000; 
}

th, td {
    border: none;
}

table {
    font-family: Lato;
    background: transparent;
    overflow: hidden;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.fb-page {
    padding-right: 10px;
    height: 100%;
    width: 100%;
}

@media (max-width: 900px) {
    .community-table th:first-child, .community-table td:first-child {
        display: none;
    }
}


</style>

{% endblock %}