{% extends "base.html" %}
{% block title %}Community{% endblock %}
{% block content %}
<link href="../static/community.css" rel="stylesheet" />

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0" nonce="X1NreoSu"></script>

<div class="community-hero">
    <div class="community-hero1 heroContainer">
            <div class="community-container1">
              <h1 class="community-text2">Empire Fishing Community</h1>
              <div class="community-table">
                <table>
                    <tr>
                        <th>Posts from Empire Fishing & Tackle</th>
                        <th>Community Posts</th>
                    </tr>
                  <tr>
                      <td><div class="fb-page" data-href="https://www.facebook.com/empirefishingandtackle/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/empirefishingandtackle/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/empirefishingandtackle/">Empire Fishing and Tackle</a></blockquote></div></td>
                      <td>(placeholder)</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
</div>

{% endblock %}