{% extends "base.html" %}
{% block title %}Fishing Locations{% endblock %}
{% block content %}
<link href="../static/bait.css" rel="stylesheet" />

<div class="live-bait-hero">
          <div class="live-bait-hero1 heroContainer">
            <div class="container">
                <div class="outlined">
                    <h1 class="live-bait-text2"> Fishing Map </h1>
                    <p style="padding: 3px;"> Best fishing spots recommended by Empire Fishing and Tackle</p>
                </div>
                <div id="map"></div>
            </div>
          </div>
</div>

<meta id="locations" content="{{locations}}">

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpsD5tBlCs42-ATKcOLdeZ8pYswGCASN0&callback=initMap">
</script>

<script>
    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");

        //create map with googlemaps api
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 39.603400, lng: -74.341130},
            zoom: 12,
            mapId: "cc841db38dc214c6",
        });

        var s = document.getElementById("locations").content
        var locations = JSON.parse(s)
        console.log(s)

        //Process data from flask server
        data = {};
        keys = [];

        for(let keyVal in locations[0]) {
            keys.push(keyVal)
            data[keyVal] = [];
        }

        locations.forEach(dt => {
            keys.forEach( kv => {
                data[kv].push(dt[kv])
            })
        })

        //generate all markers based on locations received
        console.log(locations)
        counter = 0
        while(counter < locations.length){
            new google.maps.Marker({
                map: map,
                position: {lat: locations[counter].lat, lng: locations[counter].long},
                label: locations[counter].label
            });
            counter++;
        }
    }
</script>


<style>
.live-bait-hero {
    font-family: 'Open Sans', sans-serif;
    color: #201f1f;
    background-color: #f4f4f4;
    padding: 5px;
    text-align: center;
    height: 70%;
}

.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
}

.heroContainer {
    height: min-content;
    margin: 0 auto;
    overflow: hidden;
    margin: auto;
}

.live-bait-container1 {
    padding: auto;
}

.outlined {
    margin: auto;
    width: 70%;
    border: 2px solid #ab4d41;
    margin-bottom: 10px;
    background-color: #ed6958;
    border-radius: 10px;
}

.live-bait-text2 {
    color: #201f1f;
    margin-bottom: 0;
}

#map {
    width: 100%;
    height: 450px;
    background-color: #ddd;
    border-radius: 8px;
    padding: 10px;
}

@media (max-width: 768px) {
    .heroContainer {
        box-shadow: none;
        border-radius: 0;
    }

    #map {
        height: 300px;
    }
}

</style>

{% endblock %}