{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<link href="../static/login.css" rel="stylesheet" />

<div class="login-hero">
          <div class="login-hero1 heroContainer">
            <div class="login-container1">
              <span class="login-hero-sub-heading bodyLarge">
                <span>
                  <span>
                    <span>Your One-Stop Shop for Fishing Gear</span>
                    <span></span>
                  </span>
                  <span>
                    <span></span>
                    <span></span>
                  </span>
                </span>
                <span>
                  <span>
                    <span></span>
                    <span></span>
                  </span>
                  <span>
                    <span></span>
                    <span></span>
                  </span>
                </span>
              </span>
              <form action="{{ url_for('login') }}" method="post">
                <span class="login-text16">Enter Username:</span>
                <br>

                <input
                  type="text"
                  name="username"
                  required
                  placeholder="username"
                  autocomplete="username"
                  class="login-textinput input"
                />
                <br>
                <span class="login-text17">Enter password:&nbsp;</span>
                <br>


                <input
                  type="password"
                  name="password"
                  required
                  placeholder="password"
                  autocomplete="current-password"
                  class="login-textinput1 input"
                />

                <br>
                <div class="msg">{{ msg }}</div>
                <br>

                <div class="login-btn-group">
                  <input type="submit" value="login" class="buttonFlat">
                  <a href="{{ url_for('register') }}"> Register </a>
                </div>

              </form>
            </div>
          </div>
        </div>
{% endblock %}