{% extends "base.html" %}
{% block title %}Product{% endblock %}
{% block content %}

<link href="../static/product.css" rel="stylesheet" />

<table style="width: 100%; margin-top: 15%;">
   <tr>
      <td style="width: 50%;">
         <img
            src="../static/images/products/{{ focused_product[5] }}"
            alt="Product Image"
            class="product-image1" />  
      </td>
      <td>
         <div class="product-details">
            <a href="javascript:history.back()" style="position: absolute; right: 10px; top: 170px; font-size: 20px;" class="buttonFilled">X</a>
            <div class="header-section">
               <h1>{{ focused_product[0] }}</h1> 
               <h2>By: {{ focused_product[2] }}</h2>
            </div>
            <div class="price-cart">
               <h1>${{ '{0:.2f}'.format(focused_product[4]) }}</h1>
                  <form action="{{ url_for('product', product_id=focused_product['product_id']) }}" method="post">
                     <label style="text-align: right; right: 100%;">Quantity:</label>
                     <input type="number" value="1" name="quantity" class="input" />
                     <button class="button buttonFilled" type="submit" name="add-to-cart" value="{{ focused_product['product_id'] }}"> Add to Cart </button>
                  </form>
            </div>
            <div class="rating-section">
               <div class="current-rating">
                  <h1>Rating: {% if rating != 0 %}{{ '{0:.2f}'.format(rating) }}/5{% else %}N/A{% endif %}</h1>
               </div>
               {% if session['loggedin'] %}
               <div class="user-rating-form">
                  <form action="{{ url_for('product', product_id=focused_product['product_id']) }}" method="post">
                     <label style="text-align: right; right: 100%;"> Your rating: (out of 5)</label>
                     <input type="number" min="1" max="5" value="{{ user_rating }}" name="user-rating" class="input" />
                     <input type="submit" value="Rate" class="buttonFlat">
                     <p>{{ msg }}</p>
                  </form>
               </div>
               {% else %}
               <p>You must be logged in to submit product ratings.</p>
               {% endif %}
            </div>
            <p style="margin-top: 10px;">{{ focused_product[3] }}</p>
         </div>
      </td>
   </tr>
</table>

<style>
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}
.product-details {
    display: flex;
    flex-direction: column;
}
.header-section h1, .header-section h2 {
    margin: 0;
}
.close-button {
    float: right;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
}
.price-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.cart-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4242;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.rating-section {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}
.current-rating {
    margin-right: 20px;
}
.user-rating-form {
    display: flex;
    align-items: center;
}
.product-image1 {
    width: 100%;
    height: auto;
    display: block;
}
.input, .buttonFlat {
    margin-left: 10px;
    vertical-align: middle;
}
</style>

{% endblock %}
