{% extends "base.html" %}
{% block title %}Product{% endblock %}
{% block content %}

<br>
<br>
<br>
<br>
<link href="../static/product.css" rel="stylesheet" />

<div class="product-hero1 heroContainer">
   <div class="product-container1">
      <div class="product-container2">
         <div class="product-image">
           <img
            src="../static/images/products/{{ focused_product[1] }}.png"
            alt="Product Image"
            class="product-image1" />
         </div>
         <div class="product-product-details">
            <div class="product-title-and-close">
               <div class="product-container3">
                  <div class="product-title">
                     <h1 class="product-text02">{{ focused_product[0] }}</h1>
                     <h2 class="product-text03">By : {{ focused_product[2] }}</h2>
                  </div>
                  <div class="product-close-page">
                     <a href="javascript:history.back()">
                        <button
                           type="button"
                           class="product-button button buttonFilled"
                           style="font-size:30px"
                        >X</button>
                     </a>
                  </div>
               </div>
            </div>
            <div class="product-price-and-rating">
               <div class="product-title1">
                  <h1 class="product-text04">
                     <span>${{ focused_product[4] }}</span>
                    <br />
                  </h1>
               </div>
               <div class="product-rating">
                  <h1 class="product-heading">
                    <span>Rating:
                       {% if rating %}
                        {{ rating }}/5
                       {% else %}
                        N/A
                       {% endif %}</span>
                    <br />
                  </h1>
               </div>
               <form action="{{ url_for('product', product_id=focused_product['product_id']) }}" method="post">
                  <p>Your rating: (out of 5)</p>
                  <input type="number" min="1" max="5" value="{{ user_rating }}" name="user-rating" class="input"/>
                  <input type="submit" class="buttonFlat" value="Rate">
                  <p>{{ msg }}</p>
               </form>
            </div>
            <div class="product-product-description">
               <div class="product-title1">
                  <span class="product-text09">{{ focused_product[3] }}</span>
               </div>
            </div>
            <a href="{{ url_for('cart') }}">
               <div class="product-purchase-button">
                  <div class="product-purchase">
                   <button
                     type="button"
                     class="product-add-to-cart button buttonFilled"
                     style="font-size: 30px"
                     >Add To Cart</button>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>

{% endblock %}