{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<link href="../static/register.css" rel="stylesheet" />

<div class="register-hero">
          <div class="register-hero1 heroContainer">
            <div class="register-container1">

              <form action="{{ url_for('register') }}" method="post" autocomplete="off">
                <div class="register-container2">
                  <div class="register-email-pass">
                    <span class="register-text02">Enter Email:</span>
                    <input
                      type="text"
                      name="email"
                      required
                      placeholder="email"
                      class="register-textinput input"
                    />
                    <span class="register-text03">Enter password:&nbsp;</span>
                    <input
                      type="password"
                      name="password"
                      required
                      placeholder="password"
                      class="register-textinput1 input"
                    />
                  </div>
                  <div class="register-user-number">
                    <span class="register-text04">Enter Username:&nbsp;</span>
                    <input
                      type="text"
                      name="username"
                      required
                      placeholder="username"
                      class="register-textinput2 input"
                    />
                    <span class="register-text05">Enter Phone Number:&nbsp;</span>
                    <input
                      type="text"
                      name="phone"
                      required
                      placeholder="555-555-5555"
                      class="register-textinput3 input"
                    />
                  </div>
                </div>

                <div class="register-container3">
                  <div class="register-container4">
                    <span class="register-text06">
                      Do you consent to promotional emails?&nbsp;
                    </span>
                  </div>
                  <div class="register-container5">
                    <input
                      type="checkbox"
                      name="consent"
                      checked
                      class="register-checkbox"
                    />
                  </div>
                </div>
                <br>
                <div class="msg" style="text-align: center;
                  align-items: center;">{{ msg }}</div>
                <br>
                <input type="submit" value="register" class="buttonFlat" style="margin-left: 40%; margin-right: 40%; align-self: center;
                  align-items: center;">
              </form>
              <div class="register-btn-group"></div>
            </div>
          </div>
        </div>
{% endblock %}