{% extends "base.html" %}
{% block title %}Shop{% endblock %}
{% block content %}
<link href="../static/shop.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">

<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
            <option>Sort by rating</option>
            <option>Sort by sale</option>
        </select>
    </div>
</div>

<div class="small-container">
    <table class="row column">
        <tr>
            <th>Results :</th>
            <th></th>
        </tr>
        {% for product in products %}
        <a href="{{ url_for('product', product_id=product[1]) }}">
        <tr>
            <td><a href="{{ url_for('product', product_id=product[1]) }}"><img src="../static/images/products/{{ product[1] }}.png"></a></td>
            <td><h1>{{ product[0] }}</h1>
                <h3>${{ product[4] }}</h3><p>Rating : {{ product[5] }}/5</p>
            </td>
        </tr>
        </a>
        {% endfor %}
    </table>
</div>

<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a class="active" href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div>

<style>
.small-container {
    max-width: 90%;
    margin: 0 auto;
}

table {
    width: 100%; /* Set the table width to 100% */
    border-collapse: collapse;
}

th, td {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td img {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
    margin-right: 10px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%; /* Set the column width to 25% for a 4-column layout */
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 2000px) {
    .column {
        width: 100%;
    }
}


</style>
{% endblock %}